<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Dashboard</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"
        type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
        type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/css/dashboard.css" rel="stylesheet" />
</head>

<body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/dashboard">PriceGram</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/dashboard">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/favourites">Favourites</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/history">Activity</a>
                    </li>
                </ul>
                <div class="justify-content-end">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item" style="width: 70px;">
                            <a class="nav-link  active" href="/profile">
                                <i class="fa fa-user-circle-o" aria-hidden="true" style="font-size:30px;"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/logout">Sign Out</a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- Masthead-->
    <header class="masthead" style="height: 700px;">
        <div class="container position-relative">
            <div class="row justify-content-center">
                <div class="col-xl-6">
                    <div class="text-white">
                        <!-- Page heading-->
                        <h1 class="mb-5 text-center">We'll find the best for you!</h1>
                        <form method="GET" action="/products/na" class="form-subscribe" id="contactForm"
                            data-sb-form-api-token="API_TOKEN">
                            <!-- Email address input-->
                            <div class="row">
                                <div class="col">
                                    <input name="q" class="form-control form-control-lg" id="q" placeholder="Search"
                                        style="width:500px;" />
                                    <div class="invalid-feedback text-white" data-sb-feedback="emailAddress:required">
                                        Email Address is required.</div>
                                    <div class="invalid-feedback text-white" data-sb-feedback="emailAddress:email">Email
                                        Address Email is not valid.</div>
                                    <div class="text-left">
                                        <ul class="list-group" id="r" style="display: none; width:500px">
                                            <a class="list-group-item list-group-item-action list-group-item-light"
                                                id="r1">
                                            </a>
                                            <a class="list-group-item list-group-item-action list-group-item-light"
                                                id="r2"></a>
                                            <a class="list-group-item list-group-item-action list-group-item-light"
                                                id="r3"></a>
                                            <a class="list-group-item list-group-item-action list-group-item-light"
                                                id="r4"></a>
                                            <a class="list-group-item list-group-item-action list-group-item-light"
                                                id="r5"></a>
                                            <a class="list-group-item list-group-item-action list-group-item-light"
                                                id="r6"></a>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col">
                                    <button class="btn btn-primary btn-lg" id="search" type="submit">Search</button>
                                </div>

                                <!-- Submit success message-->
                                <!---->
                                <!-- This is what your users will see when the form-->
                                <!-- has successfully submitted-->
                                <div class="d-none" id="submitSuccessMessage">
                                    <div class="text-center mb-3">
                                        <div class="fw-bolder">Form submission successful!</div>
                                        <p>To activate this form, sign up at</p>
                                        <a class="text-white"
                                            href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                                    </div>
                                </div>
                                <!-- Submit error message-->
                                <!---->
                                <!-- This is what your users will see when there is-->
                                <!-- an error submitting the form-->
                                <div class="d-none" id="submitErrorMessage">
                                    <div class="text-center text-danger mb-3">Error sending message!</div>
                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Section-->
    <section class="py-5">
        <div class="row">
            <h1 class="text-center" style="color:rgb(3, 29, 134); font-weight:700">Categories</h1>
            <div class="col">
                <div class="card h-100">
                    <a href="products/2" style="text-decoration: none; color: black" class="item-link"
                        style="text-decoration: none; color: black">
                        <img class="card-img-top" src="/assets/img/laptop.jpg">
                        <div class="text-center">Computer & Gaming</div>
                    </a>
                </div>
            </div>
            <div class="col">
                <a href="products/8" style="text-decoration: none; color: black" class="item-link"
                    style="text-decoration: none; color: black">
                    <div class="card h-100">
                        <img class="card-img-top" src="/assets/img/keyboard.jpg">
                        <div class="text-center">Keyboards</div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="products/7" style="text-decoration: none; color: black" class="item-link"
                    style="text-decoration: none; color: black">
                    <div class="card h-100">
                        <img class="card-img-top" src="/assets/img/bg-showcase-3.jpg">
                        <div class="text-center">Graphic Cards</div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="products/0" style="text-decoration: none; color: black" class="item-link"
                    style="text-decoration: none; color: black">
                    <div class="card h-100">
                        <img class="card-img-top" src="/assets/img/mobile.jpg">
                        <div class="text-center">Mobiles & Tablets</div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="products/1" style="text-decoration: none; color: black" class="item-link"
                    style="text-decoration: none; color: black">
                    <div class="card h-100">
                        <img class="card-img-top" src="/assets/img/tv.jpg">
                        <div class="text-center">TV & Video</div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="products/6" style="text-decoration: none; color: black" class="item-link"
                    style="text-decoration: none; color: black">
                    <div class="card h-100">
                        <img class="card-img-top" src="/assets/img/mouse.jpg">
                        <div class="text-center">Mouses</div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="products/4" style="text-decoration: none; color: black" class="item-link"
                    style="text-decoration: none; color: black">
                    <div class="card h-100">
                        <img class="card-img-top" src="/assets/img/covers.jpg">
                        <div class="text-center">Cases & Covers</div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="products/5" style="text-decoration: none; color: black" class="item-link"
                    style="text-decoration: none; color: black">
                    <div class="card h-100">
                        <img class="card-img-top" src="/assets/img/kids.jpg">
                        <div class="text-center">Kids</div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="products/3" style="text-decoration: none; color: black" class="item-link"
                    style="text-decoration: none; color: black">
                    <div class="card h-100">
                        <img class="card-img-top" src="/assets/img/speaker.jpg">
                        <div class="text-center">Home Audio & Theatre</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                <h1 style="color:rgb(3, 29, 134); font-weight:700">Telemart</h1>
                <div></div>
                <div></div>
                <div></div>
                <%products1.forEach(function(product){ %>
                    <div class="col mb-5">
                        <a class="item-link" href="/item/<%=product.id%>" style="text-decoration: none; color: black">
                            <div class="card h-100">
                                <img class="card-img-top" src=<%=product.mainImageLink%>
                                alt="..." />
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <h5 class="fw-semibold">
                                            <%=product.title.slice(0,100)%>
                                        </h5>
                                        <%if(product.discountedPrice){%>
                                            <div id="price" class="fs-5 mb-6">
                                                <span class="text-decoration-line-through">
                                                    Rs. <%=product.price %>
                                                </span>
                                                <span class="fs-5" style="color:rgb(249, 78, 16); font-weight:700;">
                                                    &#160 Rs. <%=product.discountedPrice%>
                                                </span>
                                                <br>
                                            </div>
                                            <%}else{%>
                                                <div id="price" class="fs-5 mb-5"
                                                    style="color:rgb(249, 78, 16); font-weight:700;">
                                                    <span class="fs-5">
                                                        Rs. <%=product.price%>
                                                    </span>
                                                </div>
                                                <%}%>
                                    </div>
                                </div>

                            </div>
                        </a>
                    </div>
                    <%});%>
                        <h1 style="color:rgb(3, 29, 134); font-weight:700">Daraz</h1>
                        <div></div>
                        <div></div>
                        <div></div>
                        <% products2.forEach(function(product){ %>
                            <div class="col mb-5">
                                <a href="/item/<%=product.id%>" style="text-decoration: none; color: black"
                                    class="item-link" style="text-decoration: none; color: black">
                                    <div class="card h-100">
                                        <img class="card-img-top" src=<%=product.mainImageLink%>
                                        alt="..." />
                                        <div class="card-body p-4">
                                            <div class="text-center">
                                                <h5 class="fw-semibold">
                                                    <%=product.title.slice(0,100)%>
                                                </h5>
                                                <%if(product.discountedPrice){%>
                                                    <div id="price" class="fs-5 mb-6">
                                                        <span class="text-decoration-line-through">
                                                            Rs. <%=product.price %>
                                                        </span>
                                                        <span class="fs-5"
                                                            style="color:rgb(249, 78, 16); font-weight:700;">
                                                            &#160 Rs. <%=product.discountedPrice%>
                                                        </span>
                                                        <br>
                                                    </div>
                                                    <%}else{%>
                                                        <div id="price" class="fs-5 mb-5"
                                                            style="color:rgb(249, 78, 16); font-weight:700;">
                                                            <span class="fs-5">
                                                                Rs. <%=product.price%>
                                                            </span>
                                                        </div>
                                                        <%}%>
                                            </div>
                                        </div>

                                    </div>
                                </a>
                            </div>
                            <%});%>
                                <h1 style="color:rgb(3, 29, 134); font-weight:700">Amazon</h1>
                                <div></div>
                                <div></div>
                                <div></div>
                                <% products3.forEach(function(product){ %>
                                    <div class="col mb-5">
                                        <a class="item-link" href="/item/<%=product.id%>"
                                            style="text-decoration: none; color: black">
                                            <div class="card h-100">
                                                <img class="card-img-top" src="<%=product.mainImageLink%>" alt="..." />
                                                <div class="card-body p-4">
                                                    <div class="text-center">
                                                        <h5 class="fw-semibold">
                                                            <%=product.title.slice(0,100)%>
                                                        </h5>
                                                        <span class="fs-4"
                                                            style="color:rgb(250, 117, 69); font-weight:700;">
                                                            Rs. <%=product.price%>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <%});%>
            </div>
        </div>
    </section>

    <!-- Call to Action-->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Your Website 2022</p>
        </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/dashboard.js"></script>
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <!-- * *                               SB Forms JS                               * *-->
    <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
</body>

</html>